In [1]:
#import libraries
import json
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
%config InlineBackend.figure_format = 'png' #set 'png' here when working on notebook
warnings.filterwarnings('ignore') 
pd.options.display.max_columns = 100
pd.options.display.max_rows = 100

In [21]:
tweet = pd.read_csv(r"C:\Users\piush\Desktop\Facebook Data\data_project\transformed_tweets.csv", encoding= "ISO-8859-1")

In [22]:
mention = pd.read_csv(r"C:\Users\piush\Desktop\Facebook Data\data_project\transformed_mentions.csv" , encoding= "ISO-8859-1")

In [80]:
tweet_i = tweet[tweet['Date'].isin(['25/03/2018','26/03/2018','27/03/2018','28/03/2018','29/03/2018','30/03/2018','31/03/2018','01/04/2018','02/04/2018'])]

In [81]:
mention_i = mention[mention['Date'].isin(['25/03/2018','26/03/2018','27/03/2018','28/03/2018','29/03/2018','30/03/2018','31/03/2018','01/04/2018','02/04/2018'])]

In [82]:
mention_i['Date'].value_counts()

02/04/2018    5
29/03/2018    4
30/03/2018    3
27/03/2018    3
26/03/2018    2
25/03/2018    2
01/04/2018    1
Name: Date, dtype: int64

In [83]:
tweet_i['Date'].value_counts()

28/03/2018    361
27/03/2018    314
26/03/2018    210
29/03/2018    142
02/04/2018    103
30/03/2018     61
25/03/2018     48
31/03/2018     38
01/04/2018     20
Name: Date, dtype: int64

In [84]:
stock_i = stock[stock['Date'].isin(['25/03/2018','26/03/2018','27/03/2018','28/03/2018','29/03/2018','30/03/2018','31/03/2018','01/04/2018','02/04/2018'])]

In [85]:
stock_i['Date'].value_counts()

29/03/2018    1
02/04/2018    1
26/03/2018    1
28/03/2018    1
27/03/2018    1
Name: Date, dtype: int64

In [57]:
tweet_i.shape

(1087, 40)

In [52]:
stock = pd.read_csv(r"C:\Users\piush\Desktop\Facebook Data\data_project\stock.csv", encoding= "ISO-8859-1")

In [70]:
pd.merge(tweet_i, mention_i, how='inner', on= 'Date').shape

(2324, 63)

In [77]:
tweet_i.join(mention_i,  lsuffix='Date', rsuffix='Date')['country']

0        US
1        US
2        RO
3        GB
4        US
5        US
6        US
7        US
8        US
9        US
10       US
11       US
12       MX
13       US
14       US
15       US
16       GB
17       US
18       US
19      NaN
20      NaN
21      NaN
22      NaN
23      NaN
24      NaN
25      NaN
26      NaN
27      NaN
28      NaN
29      NaN
30      NaN
31      NaN
32      NaN
33      NaN
34      NaN
35      NaN
36      NaN
37      NaN
38      NaN
39      NaN
40      NaN
41      NaN
42      NaN
43      NaN
44      NaN
45      NaN
46      NaN
47      NaN
258     NaN
259     NaN
       ...
1247    NaN
1248    NaN
1249    NaN
1250    NaN
1251    NaN
1252    NaN
1253    NaN
1254    NaN
1255    NaN
1256    NaN
1257    NaN
1258    NaN
1259    NaN
1260    NaN
1261    NaN
1262    NaN
1263    NaN
1264    NaN
1265    NaN
1266    NaN
1267    NaN
1268    NaN
1269    NaN
1270    NaN
1271    NaN
1272    NaN
1273    NaN
1274    NaN
1275    NaN
1276    NaN
1277    NaN
1278    NaN
1279    NaN
1280    NaN
1281    NaN
1282    NaN
1283    NaN
1284    NaN
1285    NaN
1286    NaN
1287    NaN
1288    NaN
1289    NaN
1290    NaN
1291    NaN
1292    NaN
1293    NaN
1294    NaN
1295    NaN
1296    NaN
Name: country, Length: 1087, dtype: object

In [54]:
a['Date'].value_counts()

27/03/2018    942
29/03/2018    568
02/04/2018    515
30/03/2018    183
25/03/2018     96
01/04/2018     20
Name: Date, dtype: int64

In [66]:
d = pd.merge(a,stock, how='inner', on= 'Date')

In [68]:
d.shape

(2445, 73)

In [57]:
d[[ 'favorite_count', 'id_x','retweet_count','language_x','Date', 'id_y', 'score', 'id', 'Open', 'High', 'Low', 'Close',
       'Adj Close','second_x']].to_csv("d.csv", index = None)

In [58]:
a['Date'].isin(stock['Date']).value_counts()

True     2806
False     337
Name: Date, dtype: int64

In [63]:
(tweet['Date'].isin(mention['Date']).value_counts()

True     898
False    399
Name: Date, dtype: int64